#searchbtn {
    margin-left: 20px;
}
#searchbar {
    margin-right: 20px;
}
.form-group {
    align-content: center;
    margin-left: 8%;
    margin-right: 8%;
}
#navbar {
    display: flex;
    justify-content: center;
}
